# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/_notes/
/logs/
/usage/
/pdf/
*.patch
/UntErlaGen/
/unTerLagen/count_Fail.txt
/unTerLagen/test/count.txt
/unTerLagen/test/count_dl.txt
/unTerLagen/ffffffffffffffe/count.txt
/unTerLagen/ffffffffffffffe/count_dl.txt
